.buttonSec {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 28px;
  border: none;
  padding: 14px 30px;

  @media (min-width: 45rem) {
    font-size: 1rem;
  }
}

.buttonSecOne {
  color: rgb(255 255 255);
  background-color: rgb(253 52 110);
  box-shadow: -5px 20px 30px rgba(var(--clr-sec) / 0.3);
  will-change: opacity, background, transform;
  transition:
    opacity 0.5s ease,
    background 0.3s ease,
    transform 1s ease;
}

.buttonSecOne:hover {
  color: rgb(var(--clr-header));
  background-color: rgb(var(--clr-ter));
  box-shadow: -5px 20px 30px rgba(var(--clr-ter) / 0.3);
}

.buttonSecTwo {
  color: rgb(var(--clr-header));
  background-color: rgb(var(--clr-ter));
  box-shadow: -5px 20px 30px rgba(var(--clr-ter) / 0.3);
  will-change: opacity, background, transform;
  transition:
    opacity 0.5s ease,
    background 0.3s ease,
    transform 0.5s ease;
}

.buttonSecTwo:hover {
  color: rgb(255 255 255);
  background-color: rgb(var(--clr-sec));
  box-shadow: -5px 20px 30px rgba(var(--clr-sec) / 0.3);
}

.buttonSecThree {
  color: rgb(255 255 255);
  background-color: rgb(var(--clr-pri));
  box-shadow: -5px 20px 30px rgba(var(--clr-pri) / 0.3);
  cursor: pointer;
}

.buttonSecThree:hover {
  background-color: rgb(var(--clr-sec));
  box-shadow: -5px 20px 30px rgba(var(--clr-sec) / 0.3);
}

.buttonSecFor {
  color: rgb(255 255 255);
  background-color: rgb(var(--clr-sec));
  box-shadow: -5px 20px 30px rgba(var(--clr-sec) / 0.3);
  margin-inline-end: 1em;
  transition: all 0.3s ease;
}

.buttonSecFor:hover {
  background-color: rgb(var(--clr-pri));
  box-shadow: -5px 20px 30px rgba(var(--clr-pri) / 0.3);
}

.buttonOne,
.buttonTwo {
  opacity: 0;
}
