.testimonial {
  background-color: rgb(255 255 255);
  padding: 6.25em 2.18em;
  text-align: center;

  @media (min-width: 65rem) {
    /* padding: 6.25em 1.18em; */
    text-align: left;
  }
}

.testimonial h2 {
  margin-block: 1em 2em;
  line-height: 1.1;
}

.testimonial h5 {
  font-weight: 600;
}

.testimonialWrapper {
  display: flex;
  gap: 1px;
  overflow-x: hidden;
  scrollbar-color: transparent transparent;
  scroll-behavior: smooth;
}

.testimonialWrapper::-webkit-scrollbar {
  height: 1px;
  background-color: transparent;
}
